<div class="my-form-box form-horizontal opinion" >
    <div class="row" id="opinionarea" style="display: none">
        <label class="col-md-2 control-label" style="color: #1a7bb9"><br>审批意见</label>
        <div class="col-md-10" >
            <textarea class="form-control " id="user_opinion" name="user_opinion" rows="3"
                                      style="resize: none"></textarea>
        </div>
    </div>
    <div class="row" id="opinionhisarea" style="display: none">
        <br>
        <h3 align="center" style="color: #1a7bb9;font-size: 20px; font-weight: normal;"><strong>流转意见</strong></h3>
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div id="opinionhis"></div>
        </div>


</div>
</div>

<!--字体加粗-->
<!--流转意见颜色有区分度-->
<!--增加opinionhisarea 滚动区域-->