<div class="modal fade bs-example-modal-lg" id="patch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-right: 5px;margin-left: 5px">
            <div class="modal-header">

                <h3 style="color: black" class="modal-title" id="myModalLabel2">补齐补正</h3>
            </div>
            <div class="modal-body my-form-box form-horizontal">
                <div class="row">
                    <label class="col-md-2 control-label">补件时限</label>
                    <div class="col-md-4">
                        <input type="number" id="limit" class="form-control" value="1" min="1" max="1000">
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2 control-label">补件时限单位</label>
                    <div class="col-md-4 ">
                        <select name="unit" id="unit" value="" class="form-control">
                            <option value="d">工作日</option>
                            <option value="h">工作小时</option>
                        </select>
                    </div>
                </div>

                <div class="row" id="opiniona1">
                    <label class="col-md-2 control-label" style="color: #1a7bb9"><br>补件原因</label>
                    <div class="col-md-10">
            <textarea class="form-control " id="patch_opinion" name="user_opinion" rows="3"
                      style="resize: none"></textarea>
                    </div>
                </div>

                <hr>
                <div class="row">

                    <div id="info" class="alert alert-info alert-dismissable">
                        <p style="text-align: center;font-weight: bold">备注：补件时限 * 补件时限单位 = 补件所需时间</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">&nbsp;&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;&nbsp;
                </button>
                <button class="btn btn-primary" onclick="out.deal('',out.patch,'4','')">&nbsp;&nbsp;确&nbsp;&nbsp;&nbsp;&nbsp;定&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
