<div class="my-form-box form-horizontal" style="display: none;" id="opinionarea">
    <div class="row">
        <label for="user_opinion" class="col-md-2 control-label"><br><strong
                style="color: #1a7bb9;">审批意见</strong></label>
        <div class="col-md-10">
            <textarea class="form-control" id="user_opinion" name="user_opinion" rows="3"
                      style="resize: none"></textarea>
        </div>
    </div>

</div>
<hr>
<div class="my-form-box form-horizontal" style="display: none;" id="opinionhisarea">

    <h3 style="color: #1a7bb9;text-align: center">流转意见</h3>
    <div id="opinionhis">
        <!--加载历史意见-->

    </div>
</div>


<div id="info" class="alert alert-info alert-dismissable" style="display: none">

</div>


<div class="row" align="center">



    <span id="group2" style="display: none">
        <button type="button" id="agree" style="display: inline-block; margin-right: 10px"
                onclick="out.deal('',out.agree,'','1')"
                class="btn btn-success">
            &nbsp;&nbsp;审批通过&nbsp;&nbsp;
        </button>
        <button type="button" id="disagree" style="display: inline-block; margin-right: 10px"
                onclick="out.deal('',out.disagree,'','2')"
                class="btn btn-danger">
            &nbsp;&nbsp;审批不通过&nbsp;&nbsp;
        </button>


    </span>

    <span id="group3">

        <button type="button" id="pickperson" style="display: none; margin-right: 10px"
                data-target="#person" data-toggle="modal" onclick="out.pickPerson()" class="btn btn-success">
            &nbsp;&nbsp;指定办理人&nbsp;&nbsp;
        </button>

    </span>
    <button type="button" id="attachdownload" data-toggle="modal" data-target="#myModal"
            style="display: inline-block; margin-right: 10px"
            class="btn btn-success">
        &nbsp;&nbsp;附件下载&nbsp;&nbsp;
    </button>

</div>






<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-right: 5px;margin-left: 5px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">流程附件</h4>
            </div>
            <div class="modal-body">
                <!-- Table -->
                <table id="attlist" data-toggle="table"  data-classes="table table-hover table-striped" data-editable="true"
                       data-side-pagination="client" data-method="post">
                    <thead>
                    <tr>
                        <th data-field="FILENAME" data-align="center">文件名</th>
                        <th data-field="OWNER" data-align="center">上传人</th>
                        <th data-field="INS_DATE" data-align="center">上传时间</th>
                        <th data-align="center" data-formatter="Attachlist.url">操作</th>
                        <th data-field="FILEURL" data-align="center" data-visible="false">上传路径</th>
                        <th data-field="FILEID" data-align="center" data-visible="false">文件ID</th>
                    </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="person" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-right: 5px;margin-left: 5px;width: 65%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">人员选择</h4>
            </div>
            <div class="modal-body">
                <br>
                <br>
                <div class="container"
                     style="padding:  0px 10px !important; margin-top: -10px; text-align: center !important;width: 100%;">
                    <div class="row">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content" style="border-color: #ffffff; height: 400px; overflow: auto">
                                <ul id="zTree" class="ztree"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-info" type="button" data-dismiss="modal" id="btn_save"
                                    onclick="savePerson()">
                                <i class="ace-icon fa fa-check bigger-110"></i> 指定人员
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="${ctxPath}/static/js/common/alaoa.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/common/attlist.js"></script>
