<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="common/_container"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>收件箱</title>
</head>
<body class="checkMail">
<div layout:fragment="content">
    <p>邮件标题:</p>
    <input type="text" th:attr="value=${myMail.title}"  readonly/>
    <p>邮件来自:<span style="color: red;"  th:text="${byUsername}"></span></p>

    <p>邮件内容:</p>
    <textarea type="text" th:text="${myMail.contents}" readonly></textarea>
    <div>
        <a href="/editmail" class="click-btn">回复</a>
        <a href="/checkmail" class="click-btn">回到邮件主页</a>
    </div>
</div>
</body>
</html>