<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/_container">
<!-- layout文件路径-->
<head>
    <meta charset="utf-8" />
    <title>社团申请</title>
</head>
<body>
<div layout:fragment="content" >
<div class="row">
    <div class="col-md-6 col-sm-6 ">
        <div class="panel panel-info">
            <div class="panel-heading">活动</div>
            <div class="panel-body">
            <div id="inform">
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">通知</div>
            <div class="panel-body">
                <div id="notice">
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="/modular/system/blackboard/blackboard.js"></script>
</div>
</body>
</html>
