<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/_container">
<!-- layout文件路径-->
<head>
    <meta charset="UTF-8">
    <title>申请加入社团</title>
</head>
<body>
<div layout:fragment="content">
    <div class="ibox-title" style="text-align: center">
        <h2>申请加入社团</h2>
    </div>


    <div class="ibox-content ">
        <div class="panel panel-primary">
            <div class="panel-heading">社团名字查询</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="cmname" name="title" type="text" class="form-control" placeholder="请输入社团名字">
                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin:20px">
                <button onclick="applyJion.search()" class="btn btn-primary  btn-md" type="button" style="width: 100px" id="search">查询</button>
            </div>
        </div>
    </div>
    <script src="/modular/system/community/applyJion.js"></script>

    <div class="ibox-content"></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>社团名字</th>
            <th>社团方向</th>
            <th>社团人数</th>
            <th>查看</th>
            <th>申请</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Mes,iterStat: ${page.getDatas()}">
            <a th:if="${null != iterStat.size}">
                <td th:text="${iterStat.count}">id</td>
                <td th:text="${Mes.cmname}">社团名字</td>
                <td th:text="${Mes.cmdirection}">社团方向</td>
                <td th:text="${Mes.total}">社团人数</td>
                <td><a >查看</a></td>
                <td><a >申请</a></td>
            </a>
        </tr>

        </tbody>
    </table>

    <!--分页部分start -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <div>
                    总条数：<span th:text="${page.getTotalCount()}"></span>&nbsp;&nbsp;
                    总页数：<span th:text="${page.getTotalPageCount()}"></span>&nbsp;&nbsp;
                    当前页码：<span th:text="${page.getCurrentPage()}"></span>
                </div>
            </li>
            <li>
                <a id="condition" th:href="@{/applyjoin/(currentPage=1,pageSize=${page.pageSize},condition=${condition} )}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;首页</span>
                </a>
            </li>
            <li>
                <a th:href="@{/applyjoin/(currentPage=${page.currentPage-1},pageSize=${page.pageSize},condition=${condition} )}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;上一页</span>
                </a>
            </li>

            <li>
                <a th:href="@{/applyjoin/(currentPage=${page.currentPage+1},pageSize=${page.pageSize},condition=${condition} )}" aria-label="Next">
                    <span aria-hidden="true">下一页&raquo;</span>
                </a>
            </li>

            <li>
                <a th:href="@{/applyjoin/(currentPage=${page.totalPageCount},pageSize=${page.pageSize},condition=${condition} )}" aria-label="Next">
                    <span aria-hidden="true">尾页&raquo;</span>
                </a>
            </li>

            <li>
                <!-- 调整pageSize start -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text=" '每页显示:' + ${page.pageSize}">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/applyjoin/(currentPage=${page.currentPage},pageSize=5 )}">5</a></li>
                        <li><a th:href="@{/applyjoin/(currentPage=${page.currentPage},pageSize=10 )}">10</a></li>
                        <li><a th:href="@{/applyjoin/(currentPage=${page.currentPage},pageSize=20 )}">20</a></li>
                    </ul>
                </div>
                <!-- 调整pageSize结束 -->
            </li>
        </ul>
    </nav>
    <!--分页部分end -->



</div>

</body>
</html>