<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/_container">
<!-- layout文件路径-->
<head>
    <meta charset="UTF-8">
    <title>查看申请信息</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!--th:action="@{/editUserinfo(userId=${user.id})} 传参数-->
        <form autocomplete="off"  th:object="${mesById}" id="addCommunity">
            <div class="ibox-title" style="text-align: center">
                <h2>查看申请</h2>
                申请编号: <h3 id="mesId" th:text="${mesById.id}"></h3>
            </div>
            <div class="ibox-content">
                <div class="ibox-content bv-form" id="userInfoForm" novalidate="novalidate">
                    <div class="my-form-box  form-horizontal">
                        <input type="hidden" id="id" value="13770" disabled="disabled">
                        <input type="hidden" id="sexValue" value="1" disabled="disabled">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">姓名</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="name" name="name" th:attr="value=${mesById.account}" type="text"
                                               data-bv-field="name" disabled="disabled">
                                        <input type="text" hidden="hidden" th:attr="value=${mesById.applicant} ">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">类型</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="type" name="type" th:attr="value=${mesById.type}" type="text"
                                               data-bv-field="name" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">社团名称</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="cmname" name="cmname" th:attr="value=${mesById.cmname}" type="text"
                                               data-bv-field="name" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">申请时间</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="createtime" name="createtime" th:attr="value=${mesById.createtime}" type="text"
                                               data-bv-field="name" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">申请理由</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="applyreason" name="applyreason"  th:text ="${mesById.applyreason}" style="margin: 0px 1.25px 0px 0px; height: 200px; width: 363px;" disabled="disabled">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">个人目标</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="cmdirection" name="cmdirection"  th:text ="*{cmdirection}"  style="margin: 0px 1.25px 0px 0px; height: 200px; width: 363px;" disabled="disabled">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input  type="button" style=" width:80%;padding:0;margin:0;float:right;" class="btn btn-primary btn-lg" onclick="passApply()" value="通过">
            <br><br>
            <input  type="button" style=" width:80%;padding:0;margin:0;float:right;" class="btn btn-primary btn-lg" onclick="Com.rejectMyApply()" value="驳回">
        </form>
    </div>
    <script src="/modular/system/community/community.js"></script>

    <script th:inline="javascript">
        function passApply() {

            var  mes =  /*[[${mesById}]]*/ null;

            $.post("/passApply",mes,function (data) {
                if (data.status == "成功"){
                    Feng.success("申请成功");
                    $(location).attr('href', '/magapply');
                }else {
                    Feng.error("申请失败,该社团已经满员");
                    $(location).attr('href', '/magapply');
                }
            });
        }
    </script>
</div>
</body>
</html>