tgyhyh<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/_container">
<!-- layout文件路径-->
<head>
    <meta charset="UTF-8">
    <title>查看社团</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!--th:action="@{/editUserinfo(userId=${user.id})} 传参数-->
        <!--style="position:absolute;left:100px; top:120px;"-->
        <div style="position:absolute; right:50px; top:50px;">
            <input  type="button" style=" width:100%;padding:0;margin:0;float:right;" class="btn btn-primary btn-lg active"  onclick="checkinform()" value="查看活动">

        </div>
        <form autocomplete="off"  id="addCommunity">
            <div class="ibox-title" style="text-align: center">
                <h2>查看社团</h2>
            </div>
            <div class="ibox-content">
                <div class="ibox-content bv-form" id="userInfoForm" novalidate="novalidate">
                    <div class="my-form-box  form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">社团名称</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="cmname" name="cmname"  th:attr="value=${cm.cmname}"  disabled="disabled">
                                        <input id="cmid" th:attr="value=${cm.id}" hidden="hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">创建时间</label>
                                    <div class="col-sm-9">
                                        <!--th:attr="value=${user.dept}"-->
                                        <input class="form-control" id="createtime" name="createtime"  th:attr="value=${cm.createtime}" type="text" disabled="disabled" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">申请理由</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="applyreason" name="applyreason"  th:text="${cm.applyreason}" disabled="disabled"  style="margin: 0px 1.25px 0px 0px; height: 200px; width: 363px;">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">社团方向</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="cmdirection" name="cmdirection" th:text="${cm.cmdirection}"  disabled="disabled" style="margin: 0px 1.25px 0px 0px; height: 200px; width: 363px;">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        //查看社团活动
        function checkinform() {

            var cmid = $('#cmid').val();
            $(location).attr('href', '/cminform?cmid='+cmid);
        }




    </script>
</div>
</body>
</html>