<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/_container">
<!-- layout文件路径-->
<head>
    <meta charset="utf-8" />
    <title>社团申请</title>
</head>
<body>
<div layout:fragment="content" >
    <div class="wrapper wrapper-content animated fadeInRight">
        <div style="position:absolute; right:50px; top:50px;">
            <input  type="button" style=" width:100%;padding:0;margin:0;float:right;" class="btn btn-primary"  onclick="Com.inform()" value="发布活动">
        </div>
        <form id="applyForm" autocomplete="off"  >
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="text-align: center">
                    <h2>社团信息修改</h2>
                </div>
                <div class="ibox-content bv-form" id="userInfoForm" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                    <div class="my-form-box  form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">社团名称</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="cmname" th:attr="value=${cm.cmname}" name="cmname"  disabled="disabled">
                                        <input id="id" th:attr="value=${cm.id}" hidden="hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">创建时间</label>
                                    <div class="col-sm-9">
                                        <input  class="form-control" id="createtime" name="createtime"  th:attr="value=${cm.createtime}" type="text"  disabled="disabled" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">申请理由</label>
                                <div class="col-sm-9">
                                        <textarea class="form-control" id="applyreason" name="applyreason" th:text="${cm.applyreason}" style="margin: 0px 1.25px 0px 0px; height: 200px; width: 363px;">
                                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">社团方向</label>
                                <div class="col-sm-9">
                                        <textarea class="form-control" id="cmdirection" name="cmdirection" th:text="${cm.cmdirection}"  style="margin: 0px 1.25px 0px 0px; height: 200px; width: 363px;">
                                        </textarea>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <input  type="button" class="btn btn-primary block full-width" onclick="Com.updateCM()" value="确认修改">
        </form>

        <script src="/modular/system/community/community.js"></script>

    </div>
</div>
</body>
</html>