<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzp.cmsys.system.dao.ApplyCMDao">

    <insert id="saveMes" parameterType="com.huzp.cmsys.system.entity.ApplyCM">
          INSERT INTO cmapply
          (type, cmname, applyreason, cmdirection, applicant, createtime, status,sign)
          VALUES (
           #{type},
           #{cmname},
           #{applyreason},
           #{cmdirection},
           #{applicant},
           #{createtime},
           #{status},
           #{sign}
          )
    </insert>


    <select id="getTotal" resultType="integer">
        select count(*)
        from      cmapply
        WHERE  sign = 'NOTDECIDE'
        and type='申请个人社团'
        order by id  DESC

    </select>


    <select id="findAllMes" resultType="map">
        SELECT  id,type, cmname, applyreason, cmdirection,
        (select a.personname from user a WHERE  a.username = t.applicant)  applicant,
         createtime, status,sign
        FROM  cmapply t
        WHERE  sign = 'NOTDECIDE'
        AND  type='申请个人社团'
        order by id  DESC
        limit #{offset},#{limit}
    </select>

    <select id="findMesById" parameterType="integer" resultType="map">
        SELECT  id,type, cmname, applyreason, cmdirection,
        (select a.personname from user a WHERE  a.username = t.applicant)  account,
        t.applicant,
        createtime, status,sign
        FROM  cmapply t
        WHERE  id = #{id}
    </select>

    <update id="UpdateStatusById">
        UPDATE cmapply SET status = '0'
        WHERE id= #{id}
    </update>


    <update id="UpdateSignById" >
        UPDATE cmapply
        SET sign = #{arg1}
        WHERE  id = #{arg0}
    </update>

    <select id="findCMByName" resultType="string">
        SELECT
        (select a.personname from user a WHERE  a.username = t.createuser)  createuser
        FROM
        community t
        WHERE
        t.cmname = #{cmname}
    </select>


    <insert id="addCommunity" parameterType="map">
        INSERT INTO community
        (cmname, cmdirection, createuser, createtime)
        VALUES
        (
            #{cmname},
            #{cmdirection},
            #{applicant},
            (select now())
        )

    </insert>

    <insert id="addMemberProprieter">
        INSERT INTO  communitymember
        (username, communityid, communityposition)
        VALUES (
         #{applicant},
         #{cmId},
         1
        )

    </insert>


    <select id="findCmIdByName" resultType="integer">
        SELECT t.id
        FROM community t
        WHERE
        t.cmname = #{name}
    </select>

    <select id="getTotalCM" resultType="integer">
        select count(*)
        from   community
        order by id  DESC
    </select>


    <select id="findAllCM" resultType="map">
        select
        t.id,
        t.cmname,
        t.cmdirection,
        (select count(*)     from   communitymember A WHERE A.communityid = t.id) AS  total
        from   community t
        <where>
            <if test="condition != null and condition != '' ">
                cmname LIKE CONCAT('%',#{condition},'%')
            </if>
        </where>
        order by id  DESC
        limit #{offset},#{limit}
    </select>

    <insert id="applyjoinCM" parameterType="map">
        INSERT INTO  cmapply
        (type, cmname, applyreason, cmdirection, applicant, createtime, status, sign,receiever)
        VALUES
        (
            #{type},
            (SELECT  cmname FROM  community a WHERE a.id= #{cmid}),
            #{applyreason},
            #{cmdirection},
            #{applicant},
            (select now()),
            #{status},
            #{sign},
            (select createuser from community b where b.id=#{cmid})
        )

    </insert>

    <select id="getMyTotal" resultType="integer">
        SELECT count(*)
        FROM      cmapply
        WHERE  sign = 'NOTDECIDE'
        AND type='申请加入社团'
        AND receiever =#{username}
        order by id  DESC
    </select>


    <select id="findAllMyMes" parameterType="int" resultType="map">
         SELECT  id,type, cmname, applyreason, cmdirection,
        (select a.personname from user a WHERE  a.username = t.applicant)  applicant,
         createtime, status,sign
        FROM  cmapply t
        WHERE  sign = 'NOTDECIDE'
        AND  type='申请加入社团'
        AND receiever =#{username}
        order by id  DESC
        limit #{offset},#{limit}

    </select>



    <insert id="addMember" parameterType="map">
        INSERT INTO  communitymember
        (username, communityid, communityposition)
        VALUES (
         #{applicant},
         #{cmId},
         2
        )
    </insert>

    <select id="findMyCm" parameterType="int" resultType="map">
        SELECT id
        FROM
        communitymember
        WHERE communityid = #{cmid}
        AND  username =  #{username}
    </select>



</mapper>
